.app-container {
    display: flex;
    min-height: 100vh;
}

.main-content {
    margin-left: 250px;
    padding: 2rem;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
    background-color: #f5f5f5;
}

.main-content.content-expanded {
    margin-left: 70px;
    width: calc(100% - 70px);
}